%br

= simple_form_for(@aula) do |f|
  = f.error_notification

  .form-inputs
    = f.input :data_abertura
    = f.input :conteudo
    = f.association :disciplina, label_method: :descricao

  .form-actions
    = f.submit "Salvar"

%br