%br
= simple_form_for(@aluno) do |f|
  = f.error_notification

  .form-inputs
    = f.input :matricula 
    = f.input :nome
    = f.input :sobrenome 
    = f.input :senha 

  .form-actions
    = f.submit 'Salvar'

%br
