%h1 Listing alunos

%table
  %br
  %thead
    %tr
      %th Matricula
      %th Nome
      %th Sobrenome
      %th
      %th
      %th


  %tbody
    - @alunos.each do |aluno|
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
        %td= aluno.matricula
        %td= aluno.nome
        %td= aluno.sobrenome
        %td= link_to 'Show', aluno
        %td= link_to 'Edit', edit_aluno_path(aluno)
        %td= link_to 'Excluir', aluno, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      


%br

= link_to 'New Aluno', new_aluno_path
