%p#notice= notice

%p
  %b Matricula:
  = @aluno.matricula
%p
  %b Nome:
  = @aluno.nome
%p
  %b Sobrenome:
  = @aluno.sobrenome

%br
%br

= link_to 'Edit', edit_aluno_path(@aluno)
\|
= link_to 'Back', alunos_path
