%p#notice= notice

%p
  %b Matricula:
  = @aluno.matricula
%p
  %b Nome:
  = @aluno.nome
%p
  %b Sobrenome:
  = @aluno.sobrenome

%br
%h3 Disciplinas
- @aluno.aluno_disciplinas.each do |aluno_disciplinas|
  %tr
    %td= aluno_disciplinas.disciplina.descricao
    %br


%br
%br

= link_to 'Edit', edit_aluno_path(@aluno)
\|
= link_to 'Back', alunos_path
