%p#notice= notice

%p
  %b Aluno:
  = @aluno_disciplina.aluno.nome if !@aluno_disciplina.aluno.nil?
%p
  %b Disciplina:
  = @aluno_disciplina.disciplina.descricao if !@aluno_disciplina.disciplina.nil?

%br
%br

= link_to 'Edit', edit_aluno_disciplina_path(@aluno_disciplina)
\|
= link_to 'Back', aluno_disciplinas_path
