= simple_form_for(@professor) do |f|
  = f.error_notification

  %br

  .form-inputs
    = f.input :matricula
    = f.input :nome
    = f.input :sobrenome
    = f.input :senha

  .form-actions
    = f.submit "Salvar"

%br