%h1 Listing professores

%table
  %thead
    %tr
      %th Matricula
      %th Nome
      %th Sobrenome
      %th
      %th
      %th

  %br

  %tbody
    - @professores.each do |professor|
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
        %td= professor.matricula
        %td= professor.nome
        %td= professor.sobrenome
        %td= link_to 'Show', professor
        %td= link_to 'Edit', edit_professor_path(professor)
        %td= link_to 'Excluir', professor, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr
      %tr

%br

= link_to 'New Professor', new_professor_path
