%p#notice= notice

%p
  %b Matricula:
  = @professor.matricula
%p
  %b Nome:
  = @professor.nome
%p
  %b Sobrenome:
  = @professor.sobrenome
%p
  %b Senha:
  = @professor.senha

= link_to 'Edit', edit_professor_path(@professor)
\|
= link_to 'Back', professores_path
